.alapbodycucc {
    color: rgb(230, 190, 145);
    background-color: rgb(48, 46, 46);
    font-size: 12pt;
}
#nemtom {
    color:aquamarine;
    background-color: beige;
}

#ScottishFold{
    background-color: blue;
    color:rgb(0, 132, 255);
}
#Savannahmacska{
    background-color: greenyellow;
    color:rgb(255, 0, 0);
}
#Bengálimacska{
    background-color: red;
    color:black;
}
h2 {
    font-size: 18pt;
}
.litag {
    color:red;
}
.linkborder {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(221, 202, 150);
    color: red;
    text-decoration: none;
}
.linkborder:hover {
    color:aquamarine;
    background-color: rgb(7, 43, 241);
}